<div class="container text-center">
    <h3 class="mb-3">Redes Sociais</h3> 
    <button onclick="window.open('https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile')" class="btn btn-primary mx-2">
        <i class="fab fa-linkedin"></i>
    </button>
    <button onclick="window.open('https://github.com/Robert0Mmelo')" class="btn btn-dark mx-2">
        <i class="fab fa-github"></i>
    </button>
    <button onclick="window.open('https://www.instagram.com/_robertommelo/')" class="btn btn-danger mx-2">
        <i class="fab fa-instagram"></i>
    </button>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


</div>
