<div class="card shadow text-center">
    <div class="card-body">
        <h5 class="card-title">Urna eletronica</h5>
        <p>Exemplo de projeto simples feito em java para criação de urna eletronica</p>
        <button onclick="window.open('https://github.com/Robert0Mmelo/UrnaEletronicajava')" class="btn btn-primary">Veja mais</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="tag me-2 mb-1">Java</div>
        </div>
    </div>
</div>
