<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/inicio" routerLinkActive="text-dark">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/projetos" routerLinkActive="text-dark">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contato" routerLinkActive="text-dark">Contato</a>
            </li>
        </ul>
    </div>
</nav>
