<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Quem sou eu?</h2>
                <img src="https://lh3.googleusercontent.com/a/ACg8ocIcS64CUIuLe53-MX9xZync0LycRJ0aupL8jTBH1Oa5maOWeOm6Eg=s360-c-no" alt="" class="rounded-circle">
                <p>Meu nome é Roberto Mateus, sou um desenvolvedor fullstack apaixonado por tecnologia, sempre em busca de soluções inovadoras e eficientes. Tenho experiência em Java, HTML, CSS, JavaScript, Bootstrap e Angular, e gosto de criar aplicações robustas e intuitivas, unindo design moderno e alto desempenho. Meu foco é otimizar processos, desenvolver interfaces responsivas e entregar soluções que realmente fazem a diferença. 🚀</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Exemplos projetos</h2>
                <p>Exemplo de projeto simples feito em java para criação de urna eletronica</p>
                <button onclick="window.open('https://github.com/Robert0Mmelo/UrnaEletronicajava')" class="btn btn-primary">Veja mais</button>
            </div>
        </div>
    </div>
</div> 
